/* All */

body {
	text-align: center;
	background-color: rgb(44, 44, 44);
}

.container {
	background-color: darkgrey;
	padding: 0;
	border-radius: 2%;
	width: 100%;
}

.headerText {
	padding: 2rem;
}

/* Header */
.jumbotron {
	background-image: url("/images/real_cf.png");
	margin: 0;
	border-radius: 0;
}

.headertext {
	margin: .5rem;
	color: rgb(190, 190, 190);
}

/* Navbar */
.navbar {
	position: sticky;
}

.navButtons {
	margin: 2rem;
	display: inline;
}

.navbar-nav {
	display: inline;
}

/* Home */
#message {
	padding: 5rem 2rem;
	font-style: italic;
}

.wideButton {
	width: 100%;
	border-radius: 0;
	font-size: 1.3rem;
}

/* Shop */
.productList {
	margin: 2rem 0;
}

.shopbttns {
	border-radius: 0;
}

.card {
	width: 18rem;
	background-color: rgb(190, 190, 190);
	margin: .5rem;
}

.card-img-top {
	max-height: 12rem;
}

/* Product */

.itemImage {
	max-width: 28rem;
	height: auto;
}

.specList {
	margin-top: 1rem;
}

table {
	width: 60%;
	margin: 2rem auto;
}

.specItem {
	height: 2.5rem;
}

/* About */
.bio {
	margin: 0 3rem;
}

/* Mapbox */

.Map {
	text-align: left;
	margin-bottom: 2rem;
}

.mapNav {
	position: 'absolute';
	top: 0;
	left: 0;
	padding: '10px';
}

.marker {
	background-image: url('./mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
