/* All */

.body {
	text-align: center;
	background-color:rgb(219, 219, 219);
}

.greyContainer {
	background-color: rgb(204, 201, 201);
	padding: 0;
	border-radius: 2%;
	width: 100%;
}

div.noPadding {
	padding-left: 0;
	padding-right: 0;
}

div.noMargin {
	margin-left: 0;
	margin-right: 0;
}

.headerText {
	padding: 2rem;
}

/* Header */
#jumbotron {
	background-image: url("/images/white_cf.jpg");
	margin: 0;
	border-radius: 0;
	padding: 0;
}

.headertext {
	text-align: center;
	/* margin: .5rem; */
	color: rgb(190, 190, 190);
}

/* Navbar */

.navLinks {
	text-decoration: none;
	color:  grey;
	margin: .4rem;
}
.navLinks:hover {
	text-decoration: none;
	color:#c0c0c2;
}

/* Home */
#message {
	padding: 5rem 2rem;
	font-style: italic;
}

.wideButton {
	width: 100%;
	font-size: 1.3rem;
	border-radius: 0%;
}

/* Shop */
#shopNav {
	width: 100%;
	margin: 0;
}

.productList {
	padding: 2rem 0;
}

#noMargin {
	margin: 0;
	padding: 0;
}

.shopbttns {
	width: 100%;
}

.card {
	width: 18rem;
	background-color: rgb(190, 190, 190);
	margin: .5rem;
}

.card-img-top {
	max-height: 12rem;
}

/* Product */

.itemImage {
	max-width: 28rem;
	height: auto;
}

.specList {
	margin-top: 1rem;
}

table {
	width: 60%;
	margin: 2rem auto;
}

.specItem {
	height: 2.5rem;
}

.product {
	margin: 2rem 0;
}

/* About */
.bio {
	margin: 0 3rem;
}

/* Mapbox */
.Map {
	text-align: left;
	margin-bottom: 2rem;
}

.mapNav {
	position: 'absolute';
	top: 0;
	left: 0;
	padding: '10px';
}

.marker {
	background-image: url('./mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* Carousel */
.carousel-item img {
	max-height: 20rem;
	min-width: 80%;
	margin: 0
}
